{% extends 'base.html' %}
{% block content %}

<h3>Edit Profile</h3>
<hr>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username" value="{{ request.user.username }}" class="form-control">

    <label>Email</label>
    <input type="email" name="email" value="{{ request.user.email }}" class="form-control">

    <label>Phone</label>
    <input type="text" name="phone" value="{{ profile.phone }}" class="form-control">

    <label>City</label>
    <input type="text" name="city" value="{{ profile.city }}" class="form-control">

    <label>Country</label>
    <input type="text" name="country" value="{{ profile.country }}" class="form-control">

    <label>Address</label>
    <textarea name="address" class="form-control">{{ profile.address }}</textarea>

    <label>Profile Image</label>
    <input type="file" name="profile_image" class="form-control">

    <button class="btn btn-success mt-3">Update</button>
</form>

{% endblock %}
